.todo-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: min(100%, 800px);
flex-shrink: 0;
  max-width: 600px;
}

.todo-app__header-form-container {
    width: 100%;
}

.todo-app__form {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

/* todo list styling */
.todo-app__list-section {
    width: 100%;
}

.todo-app__list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

input[type="checkbox"] {
  display: none;
}

.check-icon {
  display: flex;
}

.todo-app__list__item__button {
  background: none;
  padding: 0;
  border: none;
  font-size: 0;
}

.todo-app__list__item__text {
  flex: 1;
}
