:root {
  /* color variables */
  --primary-clr-900: hsl(0, 0%, 0%);
  --primary-clr-600: hsl(44, 7%, 41%);

  --accent-clr-400: hsl(352, 93%, 53%);
  --secondary-clr-200: hsl(64, 63%, 92%);

  --bg-clr: var(--primary-clr-900);
}

body {
  color: var(--secondary-clr-200);
  background: var(--bg-clr);
  font-weight: 700;
  font-size: 18px;
}
