/* css reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input,
button,
select {
  font: inherit;
}

p,
h1,
h2,
h3 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
/* css reset */

/* body, html height */
html {
  height: 100%;
}

body {
  height: 100vh;
}
/* body, html height */
